{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Railway Concession</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" >
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
</head>
<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary px-0 py-0">
    <div class="container-fluid px-2 ">
      <a class="navbar-brand" href="{% url 'index' %}"><i class="fa-solid fa-train m-1"></i>Railway Concession</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'index' %}"><i class="fa-solid fa-list m-1"></i>All Student
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add' %}">Apply Concession</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="admin">About</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>
  <div class="container-fluid">
   {% block body %}
   {% endblock %}
  </div>
  <footer class="mt-auto mb-4">
    <div class="text-center" >
    <span>
    Copyright &copy; <script>document.write(new Date().getFullYear())</script>Divyesh Programming
    </span>
    </div>

  </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" ></script>
</body>
</html>